#top-pane {
    height: 80vh;
}

#data {
    width: 55%;
    height: 100%;
    float: left;
}

#code {
    width: 100%;
    height: 90%;
    overflow-y: scroll;
}

#result {
    width: 35%;
    height: 100%;
    float: right;
    overflow-y: scroll;
}

#controls {
    height: 5%;
    margin-top: 5%;
}

#pc-wrapper {
    display: inline-block;
    margin-left: 20px;
}

.heading {
    display: inline-block;
    width: 45%;
}

#bottom-pane {
    height: 15vh;
}

#input {
    width: 45%;
    height: 100%;
    float: left;
    overflow-y: scroll;
}

#output {
    width: 45%;
    height: 100%;
    float: right;
    overflow-y: scroll;
}

#output span {
    display: block;
}
